{% for type, messages in app.flashes %}
  {% for message in messages %}
    {# <div class="alert-container position-fixed p-3">  #}
      <div class="alert alert-{{ type }}">
        {{ message }}
      </div>
    {# </div> #}
  {% endfor %}
{% endfor %}

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    setTimeout(() => {
      const alertContainer = document.querySelector('.alert-container')
      if(alertContainer) alertContainer.classList.add('show');
    }, 100);
    
    setTimeout(() => {
      const alertContainer = document.querySelector('.alert-container')
      if(alertContainer) alertContainer.classList.remove('show');
    }, 5000);
  });
</script>
