<div>
  <p>Beste</p>

  {{ APPNAME }} heeft een verificatiecode voor jou aangemaakt:

  <p><strong>{{ token }}</strong></p>

  <p>Gebruik bovenstaande code om je e-mailadres te bevestigen wanneer je inlogt.</p> 

  <p>Met vriendelijke groet,</p>
  <p>Het {{ APPNAME }} team</p>
</div>